@import '../../scss/bootstrap';

.pd-info {
  &__image {
    height: 300px;
    width: auto;

    @media only screen and (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
      height: 200px;
    }
  }

  &__text {
    font-size: $h4-font-size;
  }
}
