.pd-card {
  cursor: pointer;
  img {
    transition: .2s padding;
  }

  &:hover {
    img {
      padding: 16px !important;
    }
  }
}

.pd-favorite__wrapper {
  position: absolute;
  bottom: 68px;
  right: 10px;
}
