@import '../../scss/bootstrap';

.pd-footer {
  display: none !important;

  @media only screen and (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
    display: inline-flex !important;
  }

  &__item {
    background-color: $white;

    &-active {
      background-color: $primary !important;
    }

    &__link {
      outline: none !important;
      border: none !important;
      color: $text-muted;

      &-active {
        color: $white !important;
        background-color: $primary !important;
      }
    }
  }
}
